@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
}
.texto_de_cima {
    background-color: #000;
    height: 75px;
    text-align: center;
    color:white
}
.alinhamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    width: 150px;
    position: relative;
    top: -50px; 
}
.texto {
    margin-top: -100px; 
}
.texto_meio{
    font-size: 50px;
    margin-top: -90px;
    font-family: "Audiowide", sans-serif;
}
.container {
    background: linear-gradient(#8A8A8B, #0f0f0f, #8A8A8B);
    height: 750px;    
    color: yellow;    
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    font-size: 70px;
}

.ee{
    display: inline-block;
    padding: 10px 20px;
    margin: 50px;
    background-color: #da0606;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    margin-top: -175px;
    
    
    }
.pp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    
}
